---

TNR: {{ tnr }} ({{ timestamp_iso }})
Avsändare: {{ sender_display }}
{% if message %}

{{ message }}
{% endif %}
{% if attachments %}

## Bilagor

{% for link in attachments -%}
{{ link }}
{% endfor -%}
{% endif %}
