---

TNR: {{ tnr }} ({{ timestamp_iso }})
Avsändare: {{ sender_display }}
{% if lat and lon %}
[Position](geo:{{ lat }},{{ lon }})
{% endif %}
{% if message %}

{{ message }}
{% endif %}
{% if attachments %}

## Bilagor

{% for link in attachments -%}
{{ link }}
{% endfor -%}
{% endif %}
